name: Git-Demo

on: 
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag to deploy'
        required: true
      # default: 'v1.1.4'

permissions:
  contents: read

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.tag }}
    - name: Deploy to server
      run: |
        echo "Deploying version ${{ github.event.inputs.tag }} to server"
        cd C:\Users\GouthamSornala\Downloads\Git-Deploy\_work\Git-Demo
        git fetch --all
        git pull origin ${{ github.event.inputs.tag }}
