name: Git-Demo

# on: workflow-dispatch
on: workflow_dispatch

permissions:
  contents: read

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Deploy to server
      run: |
        cd C:\Users\GouthamSornala\Downloads\Git-Deploy\_work\WinfoBots
        git checkout tags/v1.1.1
